@model IEnumerable<M151_Projekt.Models.MortgageCustomerAssignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Customer")
        </th>
        <th>
            @Html.DisplayName("Mortgage")
        </th>
        <th>
            @Html.DisplayName("Paid State")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.prename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mortgage.morgageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paidState)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
