@model M151_Projekt.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Prename")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prename)
        </dd>

        <dt>
            @Html.DisplayName("Family Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.familyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Mortgagename")
        </th>
        <th>
            @Html.DisplayName("Rate")
        </th>
        <th>
            @Html.DisplayName("Riskname")
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.Mortgages)
    {
        <tr>
            <td>
                @item.morgageName
            </td>
            <td>
                @item.rate
            </td>
            <td>
                @item.Risk.riskName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Mortgage", new { id = item.id },null) |
                @Html.ActionLink("Details", "Details", "Mortgage", new { id = item.id }, null) |
                @Html.ActionLink("Delete", "Delete", "Mortgage", new { id = item.id }, null)
            </td>
        </tr>
    }

</table>