@model M151_Projekt.Models.Risk

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Risk</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Days Plus")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daysPlus)
        </dd>

        <dt>
            @Html.DisplayName("Risk Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.riskName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
